<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>title</key>
			<string>清理缓存</string>
			<key>subtitle</key>
			<string></string>
			<key>rightLabel</key>
			<string>0.0M</string>
			<key>isHiddenRightLabel</key>
			<false/>
			<key>isHiddenSubtitle</key>
			<true/>
			<key>isHiddenArrow</key>
			<true/>
			<key>isHiddenSwitch</key>
			<true/>
		</dict>
		<dict>
			<key>title</key>
			<string>字体大小</string>
			<key>subtitle</key>
			<string></string>
			<key>rightLabel</key>
			<string>中</string>
			<key>isHiddenRightLabel</key>
			<false/>
			<key>isHiddenSubtitle</key>
			<true/>
			<key>isHiddenArrow</key>
			<true/>
			<key>isHiddenSwitch</key>
			<true/>
		</dict>
		<dict>
			<key>title</key>
			<string>列表显示摘要</string>
			<key>subtitle</key>
			<string></string>
			<key>rightLabel</key>
			<string></string>
			<key>isHiddenRightLabel</key>
			<true/>
			<key>isHiddenSubtitle</key>
			<true/>
			<key>isHiddenArrow</key>
			<true/>
			<key>isHiddenSwitch</key>
			<false/>
		</dict>
		<dict>
			<key>title</key>
			<string>非WI-FI网络流量</string>
			<key>subtitle</key>
			<string></string>
			<key>rightLabel</key>
			<string>最佳效果(下载大图)</string>
			<key>isHiddenRightLabel</key>
			<false/>
			<key>isHiddenSubtitle</key>
			<true/>
			<key>isHiddenArrow</key>
			<true/>
			<key>isHiddenSwitch</key>
			<true/>
		</dict>
		<dict>
			<key>title</key>
			<string>非WI-FI网络播放提醒</string>
			<key>subtitle</key>
			<string></string>
			<key>rightLabel</key>
			<string>提醒一次</string>
			<key>isHiddenRightLabel</key>
			<false/>
			<key>isHiddenSubtitle</key>
			<true/>
			<key>isHiddenArrow</key>
			<true/>
			<key>isHiddenSwitch</key>
			<true/>
		</dict>
		<dict>
			<key>title</key>
			<string>推动通知</string>
			<key>subtitle</key>
			<string>你可能错过重要资讯通知，点击去设置允许通知</string>
			<key>rightLabel</key>
			<string></string>
			<key>isHiddenRightLabel</key>
			<true/>
			<key>isHiddenSubtitle</key>
			<false/>
			<key>isHiddenArrow</key>
			<true/>
			<key>isHiddenSwitch</key>
			<false/>
		</dict>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>离线下载</string>
			<key>subtitle</key>
			<string></string>
			<key>rightLabel</key>
			<string></string>
			<key>isHiddenRightLabel</key>
			<true/>
			<key>isHiddenSubtitle</key>
			<true/>
			<key>isHiddenArrow</key>
			<false/>
			<key>isHiddenSwitch</key>
			<true/>
		</dict>
		<dict>
			<key>title</key>
			<string>头条封面</string>
			<key>subtitle</key>
			<string></string>
			<key>rightLabel</key>
			<string></string>
			<key>isHiddenRightLabel</key>
			<true/>
			<key>isHiddenSubtitle</key>
			<true/>
			<key>isHiddenArrow</key>
			<false/>
			<key>isHiddenSwitch</key>
			<true/>
		</dict>
		<dict>
			<key>title</key>
			<string>当前版本</string>
			<key>subtitle</key>
			<string></string>
			<key>rightLabel</key>
			<string>1.0.0</string>
			<key>isHiddenRightLabel</key>
			<false/>
			<key>isHiddenSubtitle</key>
			<true/>
			<key>isHiddenArrow</key>
			<true/>
			<key>isHiddenSwitch</key>
			<true/>
		</dict>
	</array>
</array>
</plist>
